* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: Montserrat, sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 1700px) {
    .extend {
        max-width: 1300px !important;
    }

    .extend-more {
        max-width: 1600px !important;
    }

    .social-buttons {
        width: 400px;
        position: absolute !important;
        margin-left: -40px !important;
        margin-top: 500px !important;
    }

    .social-buttons .google {
        margin-left: 50px !important;
    }
}

.before,
.after {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    overflow: hidden;
}

.content-image {
    height: 100%;
    width: 100vw;
}

.after {
    width: 125px;
}

.scroller {
    z-index: 1000;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.9;
    pointer-events: auto;
    cursor: pointer;
}

.scroller:hover {
    opacity: 1;
}

.scrolling {
    pointer-events: none;
    opacity: 1;
    z-index: 1;
}

.scroller__thumb {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.scroller::before,
.scroller::after {
    content: " ";
    display: block;
    width: 7px;
    position: absolute;
    left: 50%;
    margin-left: -3.5px;
    z-index: 30;
    transition: all 0.1s ease 0s;
}

.scroller::before {
    top: 100%;
}

.scroller::after {
    bottom: 100%;
}

.scroller {
    border: 5px solid rgb(255, 255, 255);
}

.scroller::before,
.scroller::after {
    background: rgb(0, 0, 0);
}

.text-head {
    position: absolute;
    top: 100px;
    left: 5%;
}

h1,
p {
    color: rgb(255, 255, 255) !important;
}

.head-b {
    margin-right: 20px !important;
}

button {
    width: 105px;
    height: 33px;
    background: linear-gradient(360deg, rgb(0, 80, 90) 0%, rgb(20, 154, 155) 90%, rgb(0, 212, 255) 100%);
    border: none;
    font-size: 10px !important;
    border-radius: 80px !important;
    font-weight: 500 !important;
}

.head-button {
    margin-left: 210px;
    margin-top: 20px;
}

.head-p {
    margin-top: 15px;
    font-size: 27px;
}

.text-head h1 {
    font-size: 50px;
}

.socials-head {
    position: absolute;
    margin-top: -90px;
    margin-left: 140px;
    margin-right: auto;
    left: 0px;
    right: 0px;
    text-align: center;
}

.socials-head img {
    margin-right: 50px;
    width: 45px;
    height: 45px;
}

.whatsapp {
    float: right !important;
    width: 60px !important;
    height: 60px !important;
}

main {
    height: 600px !important;
    width: 100% !important;
}

.sec-one {
    margin-top: 50px;
}

.bg-right {
    margin-top: 150px;
    background-color: rgb(20, 154, 155);
    margin-bottom: 70px;
}

.bg-right-f {
    background-color: rgb(20, 154, 155);
}

.bg-left {
    margin-top: 150px;
    background-color: rgb(20, 154, 155);
}

.bg-right-f img {
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-right: 35px solid white;
    margin-left: -16px;
    width: 95%;
}

.bg-right img {
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-right: 35px solid white;
    margin-left: -16px;
    width: 95%;
}

.bg-left img {
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    margin-right: -16px;
    width: 95%;
    float: right;
    border-left: 35px solid white !important;
}

.chkr {
    border: 1px solid rgb(58, 2, 224) !important;
}

.about-us-text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.about-us-h1 {
    font-size: 38px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.about-us-text,
p {
    font-size: 15px;
}

.sec-two {}

.sec-two-bg {
    background-image: url("./CarHammam-Assets/Group 305.png");
    margin-top: 50px;
    margin-left: 320px;
    background-repeat: no-repeat;
    height: 1100px !important;
}

.col-right::before {
    content: "";
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 1037px 850px;
    background-image: url("./CarHammam-Assets/AppDownloadSection/Group 305.png");
    position: absolute;
}

.col.about-us-text p {
    font-size: 23px;
}

.logo h6 {
    font-size: 16px;
    color: rgb(25, 97, 97);
    margin-top: 69px;
    text-align: center;
}

.col.about-us-text p {
    font-size: 20px;
}

.social-buttons {
    margin-left: -44px;
    margin-top: 51px;
}

.social-buttons img {
    margin-left: 25px;
    width: 149px;
}

.footer-content {
    background-image: url("./CarHammam-Assets/ContactUs-Background/Group 299.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.contact-us {
    margin: 80px 0px 0px;
}

.contact-us h1 {
    margin-bottom: 20px;
}

input {
    display: inline;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px !important;
}

textarea {
    padding: 10px;
    width: 100%;
}

.submit-f {}

.submit {
    float: right;
    margin-top: 18px;
    letter-spacing: 4px;
    width: 300px;
    text-transform: uppercase;
    height: 61px;
    border-radius: 7px !important;
    font-size: 23px !important;
    background: rgb(20, 154, 155) !important;
}

.map {
    margin-top: 150px;
}

.footer {}

footer {
    background-color: rgb(8, 38, 74) !important;
}

footer p {
    margin-top: 14px;
    float: right;
    margin-left: -50px !important;
}

input,
textarea {
    margin-left: 100px;
}

.f-logo {
    padding-top: 15px;
    padding-left: 130px !important;
    padding-bottom: 15px !important;
}

.right-line {
    padding-top: 15px;
    display: inline-block;
    text-align: center;
    margin-right: 100px !important;
}

label {
    text-align: center;
}

.chkw {
    border: 1px solid rgb(255, 255, 255);
}

.chw {
    border: 1px solid white;
}

.col-right {}

.footer-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.middle-text {
    margin-left: 3% !important;
}

.logo-left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1100px) {
    .sec-two{
        margin-top: -400px;
    }
    .col-right{
        display: none !important;
    }
    .sec-two-left {
        display: flex;
        align-items: center;
        flex-direction: column-reverse !important;
    }

    .col-left {
        justify-content: center !important;
    }

    .row.sec-two-left {
        height: 698px !important;
    }

 

    .sec-one {
        margin-bottom: 100px;
    }

    .col-right::before {
        background-size: 642px 450px;
        position: absolute;
    }

    .social-buttons {
        width: 400px;
    }

    .sec-two {
    margin-bottom: 250px;
}
}

@media (max-width: 1200px) {
    .footer {}

    .bg-right img,
    .bg-right-f img,
    .bg-left img {
        height: 300px;
    }

    .bg-right,
    .bg-right-f,
    .bg-left {
        height: 300px;
    }

    .about-us-h1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .about-us-text,
    p {
        font-size: 16px !important;
    }

    .head-button {
        margin-left: 183px;
    }

    .head-p {
        margin-top: 15px;
        font-size: 16px !important;
    }

    .text-head h1 {
        font-size: 35px;
    }

    .socials-head {
        position: absolute;
        margin-top: -80px;
        margin-right: auto;
        left: 0px;
        right: 0px;
        text-align: center;
    }

    .socials-head img {
        margin-right: 50px;
        width: 35px;
        height: 35px;
    }

    .whatsapp {
        float: right !important;
        width: 50px !important;
        height: 50px !important;
    }

    .submit {
        width: 200px !important;
    }

    .logo-h6 {
        width: 100%;
    }

    .contact-us {
        text-align: center;
        width: 100% !important;
    }

    .contact-us h1 {
        margin-bottom: 43px;
        font-size: 25px !important;
    }

    .submit {
        float: none !important;
        font-size: 15px !important;
        text-align: center !important;
    }

    footer p {
        margin-top: 14px;
        float: right;
        margin-left: -20px !important;
    }

    .f-logo {
        margin-left: 20px;
    }

    .bg-left img {}
}


@media (max-width: 995px) {
    /* .footer {
        margin-top: 0px !important;
    } */
    .sec-two{
        margin-top: -100px;
        margin-bottom: 100px;
    }
}

@media (max-width: 800px) {
    .footer-content {
        height: 800px !important;
    }

    /* .col-right img {
        margin-left: -179px;
    } */
}

@media (max-width: 768px) {
    .footer-content {
        height: 1500px !important;
    }
}

@media (max-width: 700px) {
    .about-us-h1{
        font-size:18px !important;
    }
    .about-us-text p{
        font-size:14px !important;
    }
    .about-us-text {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .sec-one {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .bg-right img {
        margin-top: 126px;
        width: 302px !important;
        border: none !important;
        border-top-right-radius: inherit !important;
        border-bottom-right-radius: inherit !important;
    }

    .bg-right-f img {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        margin-top: 125px;
        width: 299px !important;
        border: none !important;
    }

    .bg-left img {
        margin-top: 60px;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        margin-left: -14px;
        width: 300px !important;
        border: none !important;
    }

    .bg-right {
        margin-top: 325px !important;
        width: 301px !important;
        height: 250px !important;
        margin-bottom: 260px !important;
    }

    .bg-right-f {
        width: 300px !important;
        height: 250px !important;
        margin-top: 50px !important;
        margin-bottom: 100px !important;
    }

    .bg-left {
        margin-left: 0px;
        margin-top: 320px !important;
        width: 299px !important;
        height: 250px !important;
        margin-bottom: 100px !important;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .reverse-diff {
        display: flex;
        flex-direction: row-reverse;
    }

    .col-right {
        display: none;
    }

    .logo img {
        width: 300px;
        height: 190px;
    }

    .social-buttons img {
        width: 140px;
        height: 45px;
    }
}

@media (max-width: 550px) {
    .socials-head {
        margin-left: 10px !important;
    }

    .text-head {
        text-align: center;
    }

    .head-p {
        font-size: 15px !important;
    }

    .head-button {
        /* margin-top: 285px; */
        margin-left: 0px;
        /* display:flex !important;
        align-items: end !important;
        justify-content: end; */
    }

    .socials-head {
        margin-left: 10px;
    }

    .whatsapp {
        margin-left: -30px;
        margin-top: -10px;
    }

    .footer-social {
        margin-left: 100px;
    }

    .right-line {
        margin-left: 200px;
    }
}

@media (max-width: 400px) {
    .text-head {
        text-align: center;
    }

    .head-p {
        font-size: 15px !important;
    }

    .head-button {
        /* margin-top: 200px; */
        margin-left: 0px;
    }

    .socials-head {
        margin-left: 10px;
    }

    .whatsapp {
        margin-left: -30px;
        margin-top: -10px;
    }

    .bg-right {
        margin-bottom: 350px !important;
    }

    .logo {}

    .sec-one {
        margin: auto;
    }

    .f-logo {
        margin-left: -160px;
    }
}

.footer-bg {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(8, 38, 74) !important;
}

ul.footer-links li {
    display: inline-flex;
    padding-right: 40px;
}

ul.footer-links,
ul.footer-social {
    margin-bottom: 0px;
}

ul.footer-links li a {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 12px;
    text-decoration: none !important;
}

ul.footer-social li {
    display: inline-block;
    margin: 0px 15px;
}

ul.footer-social li a i {
    font-size: 20px;
    border-radius: 50%;
    padding-top: 8px;
    color: rgb(255, 255, 255);
}

.footer-social img {
    padding-left: 50px;
}

.row.sec-two-left {
    height: 898px;
}

@media (max-width: 576px) {
    .sec-two {
        margin-bottom: 155px !important;
        margin-top: -255px !important;
    }
}

@media (min-width: 768px) {
    .extend-more {
        max-width: 920px !important;
    }
}

@media (min-width: 992px) {
    .extend-more {
        max-width: 1260px !important;
    }
}

@media (min-width: 1500px) {
    .extend-more {
        max-width: 1640px !important;
    }
}
@media (max-width: 376px) {
    button{
        width: 85px;
    height: 30px;
    }
    .text-head{
        margin-top:-60px;
    }
}